@model IEnumerable<SharedKernel.Product>;

@{
    ViewData["Title"] = "Products";
}
<h1>@ViewData["Title"]</h1>

<p>Products</p>
<table border="1" class="table table-bordered">
    <thead>
        <tr class="btn-primary">
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>In Stock</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price.ToString("F2")</td>
                <td>@item.Stock</td>
            </tr>
        }
    </tbody>
</table>
